@page
@model CovidTracker.Pages.Covid19CasesAndDeathsModel
@{
    CovidTracker.CasesAndDeaths.Covid19CasesAndDeaths covid19CasesAndDeaths = (CovidTracker.CasesAndDeaths.Covid19CasesAndDeaths)ViewData["Covid19CasesAndDeaths"];
}

<div class="container">
    <br />
    <h2>COVID19 Cases And Deaths</h2>
    <div>
        @*<form method="get" class="row mb-3 ml-1">
            <div class="form-group row">
                <label for="SearchState" class="control-label col-sm-6 font-weight-bold">Enter State</label>
                <input id="SearchState" class="form-control col-sm-6" name="q" value="@Model.SearchState" type="text" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-outline-secondary" />
            </div>
        </form>*@

        @*@if (string.IsNullOrWhiteSpace(Model.SearchState))
        {

        }
        else if (covid19CasesAndDeaths == null)
        {
            <div class="alert alert-info">Covid19 Data for @Model.SearchState not found.</div>
        }*@
        @*else
        {*@
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body shadow border-0">
                        <div class="subtitle lead">
                            CUMMULATIVE
                        </div>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-6">
                                Date
                            </dt>
                            <dd class="col-sm-6">
                                @covid19CasesAndDeaths.SubmissionDate.Date.ToShortDateString()
                            </dd>
                            <dt class="col-sm-6">
                                State
                            </dt>
                            <dd class="col-sm-6">
                                @Model.statesDictionary[covid19CasesAndDeaths.State.ToString()]
                            </dd>
                            <dt class="col-sm-6">
                                Total Cases
                            </dt>
                            <dd class="col-sm-6">
                                @covid19CasesAndDeaths.TotCases
                            </dd>
                            <dt class="col-sm-6">
                                Total Confirmed Cases
                            </dt>
                            <dd class="col-sm-6">
                                @if (string.IsNullOrWhiteSpace(covid19CasesAndDeaths.ConfCases))
                                {
                                    <span class="badge badge-warning">Unknown</span>
                                }
                                else
                                {
                                    @covid19CasesAndDeaths.ConfCases
                                }
                            </dd>
                            <dt class="col-sm-6">
                                Total Deaths
                            </dt>
                            <dd class="col-sm-6">
                                @covid19CasesAndDeaths.TotDeath
                            </dd>
                            <dt class="col-sm-6">
                                Total Confirmed Deaths
                            </dt>
                            <dd class="col-sm-6">
                                @if (string.IsNullOrWhiteSpace(covid19CasesAndDeaths.ConfDeath))
                                {
                                    <span class="badge badge-warning">Unknown</span>
                                }
                                else
                                {
                                    @covid19CasesAndDeaths.ConfDeath
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body shadow border-0">
                        <div class="subtitle lead">
                            DAILY
                        </div>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-6">
                                Date
                            </dt>
                            <dd class="col-sm-6">
                                @covid19CasesAndDeaths.SubmissionDate.Date.ToShortDateString()
                            </dd>
                            <dt class="col-sm-6">
                                State
                            </dt>
                            <dd class="col-sm-6">
                                @Model.statesDictionary[covid19CasesAndDeaths.State.ToString()]
                            </dd>
                            <dt class="col-sm-6">
                                New Cases
                            </dt>
                            <dd class="col-sm-6">
                                @if (string.IsNullOrWhiteSpace(covid19CasesAndDeaths.NewCase))
                                {
                                    <span class="badge badge-warning">Unknown</span>
                                }
                                else
                                {
                                    @covid19CasesAndDeaths.NewCase
                                }
                            </dd>
                            <dt class="col-sm-6">
                                Probable Cases
                            </dt>
                            <dd class="col-sm-6">
                                @if (covid19CasesAndDeaths.PnewCase == null)
                                {
                                    <span class="badge badge-warning">Unknown</span>
                                }
                                else
                                {
                                    @covid19CasesAndDeaths.PnewCase
                                }
                            </dd>
                            <dt class="col-sm-6">
                                New Deaths
                            </dt>
                            <dd class="col-sm-6">
                                @if (string.IsNullOrWhiteSpace(covid19CasesAndDeaths.NewDeath))
                                {
                                    <span class="badge badge-warning">Unknown</span>
                                }
                                else
                                {
                                    @covid19CasesAndDeaths.NewDeath
                                }
                            </dd>
                            <dt class="col-sm-6">
                                Probable Deaths
                            </dt>
                            <dd class="col-sm-6">
                                @if (covid19CasesAndDeaths.PnewDeath == null)
                                {
                                    <span class="badge badge-warning">Unknown</span>
                                }
                                else
                                {
                                    @covid19CasesAndDeaths.PnewDeath
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        @*}*@
    </div>
</div>

@*<div class="input-group">
        <select class="form-control" asp-for="@Model.SearchState" asp-items="ViewBag.SearchState"></select>
        <div class="input-group-append">
            <input type="submit" value="Search" class="btn btn-outline-secondary"/>
        </div>
</div>*@