@page
@model CovidTracker.Pages.MoviesRecommendationsModel
@{
     List <CovidTracker.Item>  moviesRecommendations = (List <CovidTracker.Item>)ViewData["MoviesRecommendations"];

}
<div class="container">
    <br />
    <h2>Movies Recommendations</h2>
    <div>
        <form method="get" class="row mb-3 ml-1">
            <div class="form-group row">
                <label for="SearchTerm" class="control-label col-sm-6 font-weight-bold">Enter Movie Title</label>
                <input id="SearchTerm" class="form-control col-sm-4" name="query" value="@Model.SearchTerm" type="text" a />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-outline-secondary" />
            </div>

        </form>
    </div>

    @if (moviesRecommendations == null)
    {
        <div class="alert alert-info">Movies with title not found. </div>
    }
    else
    {

        @foreach (var movie in moviesRecommendations)
        {

            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="card card-body shadow border-0 card-background">
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-6">
                                Title
                            </dt>
                            <dd class="col-sm-6">
                                @movie.Title
                            </dd>
                            <dt class="col-sm-6">
                                Poster
                            </dt>
                            <dd class="col-sm-6">
                                <img src="@movie.Image" />

                            </dd>
                            <dt class="col-sm-6">
                                Year Released
                            </dt>
                            <dd class="col-sm-6">
                                @movie.Year
                            </dd>
                            <dt class="col-sm-6">
                                Crew
                            </dt>
                            <dd class="col-sm-6">
                                @movie.Crew
                            </dd>
                            <dt class="col-sm-6">
                                Rating
                            </dt>
                            <dd class="col-sm-6">
                                @movie.ImDbRating
                            </dd>
                            <dt class="col-sm-6">
                                Rank
                            </dt>
                            <dd class="col-sm-6">
                                @movie.Rank
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        }


    }


</div>